/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Typography */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}
.slide-in {
	top: 50%;
	left: -100%;
	transform: translateY(-50%);
	white-space: nowrap;
	font-size: 24px;
	animation: slideIn 2s forwards;
  }

  @keyframes slideIn {
	to {
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
  }

h1, h2, h3 {
	font-weight: bold;
	margin-bottom: 1rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p {
	margin-bottom: 1.5rem;
}

/* Navigation */
nav {
	background-color: #333;
}

nav ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

nav li {
	margin-right: 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 0.5rem 1rem;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}

/* Hero */
.hero {
	background-image: url("images/R.jpg");
	background-size: cover;
	background-position: center;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.hero h1 {
	font-size: 5rem;
	margin-bottom: 1rem;
}

.hero p {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.cta-button {
	background-color: #fff;
	color: #333;
	padding: 1rem 2rem;
	border-radius: 4px;
	transition: background-color 0.2s ease;
}

.cta-button:hover {
	background-color: #333;
	color: #fff;
}

/* Services */
.services {
	background-color: #f5f5f5;
	padding: 2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
}

.service-box {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.2);
	padding: 2rem;
	margin: 1rem;
	flex-basis: calc(33.33% - 2rem);
	text-align: center;
}

.service-box h2 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.service-box p {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}
.service-box a {
	font-size: 1rem;
	margin-bottom: 1rem;
}

/* Footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 2rem;
	text-align: center;
}
/* 共通のスタイル */
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 2rem;
}

.form-group {
	margin-bottom: 1.5rem;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: bold;
}

input,
textarea {
	width: 100%;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 4px;
}

button {
	padding: 0.75rem 1.5rem;
	background-color: #007aff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}

.image-vw {
	width : 50vw ; 
  }
